<!-- begin Javascript -->
<script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/js/jquery.easypiechart.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.smoothState.min.js"></script>
<script src="{{ site.baseurl }}/js/sweetalert2.all.min.js"></script>
<script src="{{ site.baseurl }}/js/contactLoadScript.js"></script>
{% if request.request_uri.tr('/') == "contact" || %}
<script src="{{ site.baseurl }}/js/contactEmailAjax.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/js/slick.min.js"></script>
<script src="{{ site.baseurl }}/js/featherlight.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fitvids.js"></script>
<script src="{{ site.baseurl }}/js/common.js"></script>
<!-- end Javascript -->