// Social
.social-list {
  text-align: center;
  margin: 0;
}
.social-item {
  display: inline-block;
  padding: 0 5px;

  .social-link {
    font-size: 21px;
    color: inherit;
    &:hover {
      color: $darkgreen;
    }
  }
}

.social-item:first-of-type {
  padding-left: 0;
}

.social-item:last-of-type {
  padding-right: 0;
}
