$primary-color: #3c2b38;
$darkgreen: #3a6b6b;
$lightred: #ae4d4d;
$gray: #666666;
$lightgray: #f3f3f3;
$dark: #2f2c36;
$white: #ffffff;

$accent-color: #000000;

$danger: #e02f40;
$success: #34a74e;

// Background Colors
$background: $white;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $dark;

// Links
$link-color: $darkgreen;
$link-color-hover: darken($dark, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #a84496;
